[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
geopandas = "*"
mapclassify = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
